.contact_container {
  color: hsl(210, 6%, 13%) !important;
  padding: 10% 0%;
  font-family: "Noto Sans Mono", monospace;
}

@media (min-width: 900px) {
  .contact_container {
    margin-left: 10%;
    display: grid;
    grid-template-columns: 40% 50%;
  }
  .contact_input {
    justify-content: space-evenly;
  }
}

@media (max-width: 900px) {
  .contact_container {
    display: grid;
    grid-template-rows: auto auto;
  }
}

.reach_out > div {
  display: flex;
  justify-content: center;
  font-size: 5vmin;
  font-weight: 500;
}

.reach_out,
.contact_input {
  flex-direction: column;
}

.say_hello_links > div,
.reach_out,
.contact_input {
  display: flex;
}
.say_hello_links {
  padding: 5% 0%;
}
.say_hello_links > div {
  width: 50%;
}
.say_hello_links > div,
.contact_input {
  justify-content: space-evenly;
}
.say_hello_links div > img:hover {
  transform: scale(1.8) rotate(360deg);
  transition: all 0.5s;
}

.contact_input {
  padding-top: 10%;
  align-items: center;
}
.contact_input > input,
.contact_message {
  width: 60%;
  margin-bottom: 3%;
}

.contact_message {
  height: 200px;
}
.contact_name,
.contact_email {
  height: 20px;
}
.contact_email:focus,
.contact_name:focus,
.contact_message:focus {
  outline: none;
}

.contact_input > button {
  width: 60%;
}
.temp_header {
  color: #52616b;
  font-weight: 400 !important;
}
.submit_button {
  border: none;
}
.submit_button:hover {
  color: #f04308;
  transform: scale(1.05);
}
