.percentage {
  /* border: 1px solid black; */
  margin-bottom: 20px;
  height: 5vh;
  background-color: #C9D6DF;
  font-family: 'Noto Sans Mono', monospace;

}

@media (min-width:900px) {
  .percentage{
    width: 40vw;
  }
  .percentage div>div{
    width: 15vw;
  }
}

@media(max-width:900px){
  .percentage{
    width: 50vw;
  }
  .percentage div>div{
    width: 26vw;
  }
  
}

.percentage > div {
  /* border: 1px solid black; */
  height: 100%;
}


.percentage div > div {
  /* border: 1px solid black; */
  height: 5vh;
  background-color: #1E2022;
  /* position: absolute; */
  display: flex;
  align-items: center;
  padding-left: 2%;
}


